# Good management of EOL and encoding in GIT is painful if no well managed
#
# This file allows the following.
#  - Enforce line endings in the whole repository, it is based on behavior of new GIT versions which default to LF line 
#    endings when 'text' is specified.
#  - Enforce good encoding for text files, if a text file is not encoded in UTF-8 then GIT will automatically change the
#    encoding to UTF-8.
#
# To get log more details about the configuration provided in this file you can take time to read the following pages.
#  - https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
#  - https://stackoverflow.com/questions/170961/whats-the-strategy-for-handling-crlf-carriage-return-line-feed-with-git#answer-10855862
#  - https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#refreshing-a-repository-after-changing-line-endings
#  - https://git-scm.com/docs/gitattributes
#  - https://github.com/alexkaratarakis/gitattributes
#  - https://buzut.net/cours/versioning-avec-git/normalisation-des-fichiers
#  - https://stackoverflow.com/questions/59434963/existing-git-repository-with-files-in-mixed-encodings
#
# IMPORTANT: If this is the first time you configure this file in your project you should refresh your repository to 
#            rewrite all the files with the new LF line endings and UTF-8 encoding. Follow the below link for detailed
#            instructions.
#
#            https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#refreshing-a-repository-after-changing-line-endings
#
#            After execution of the 'git add --renormalize .' command you could still have files with CRLF line endings
#            or bad encoding locally. Push your changes on a new branch and then checkout it again in an other folder to
#            check it again.
#
#            To ensure that all your files have LF line endings enter the following command.
#
#                git ls-files --stage --abbrev --eol
#
#            It should display 'i/lf' on the fourth column and 'w/lf' on the fifth one. If this is not the case for all 
#            files you can terminate the conversions on specific files with the 'dos2unix' command.
#
#            If you would like to manually change the encoding of a file you can use the 'iconv' command.
#
#                iconv options -f from-encoding -t to-encoding inputfile inputfile(s) -o outputfile outputfile(s)
#
#            Finally, to check both the line endings and the encoding of a specific file you can use the 'file' command.
#
#                file my-file.txt
#                file -i my-file.txt
#

# Line endings and file encoding configuration
#
# This section instructs GIT to do the following.
#  - Detect the file types (i.e. text or binary) and convert the line endings to LF when the type is text.
#  - Convert text files which are not encoded in UTF-8 to UTF-8.
#
# The following practices should be followed to edit this list.
#  - The 'diff' attribute can only be specified if the file type is present in the "builtin patterns" documented at 
#    https://git-scm.com/docs/gitattributes
#  - All text files (generally source code and documentation) should be configured with the 'text' attribute.
#  - All binary files (generally images, videos, and executables) should be configured with the 'binary' attribute.
#  - To easier reading this list should be alphabetically sorted.
.gitattributes  text working-tree-encoding=UTF-8
.gitignore      text working-tree-encoding=UTF-8
.tool-versions  text working-tree-encoding=UTF-8
Dockerfile      text working-tree-encoding=UTF-8
Makefile        text working-tree-encoding=UTF-8
Vagrantfile     text working-tree-encoding=UTF-8
*.adoc          text working-tree-encoding=UTF-8
*.c             text working-tree-encoding=UTF-8
*.cer           text working-tree-encoding=UTF-8
*.cfg           text working-tree-encoding=UTF-8
*.conf          text working-tree-encoding=UTF-8
*.cpp           text working-tree-encoding=UTF-8  diff=cpp
*.crt           text working-tree-encoding=UTF-8
*.csh           text working-tree-encoding=UTF-8
*.css           text working-tree-encoding=UTF-8  diff=css
*.csv           text working-tree-encoding=UTF-8
*.ctmpl         text working-tree-encoding=UTF-8
*.drawio        text working-tree-encoding=UTF-8
*.fish          text working-tree-encoding=UTF-8
*.go            text working-tree-encoding=UTF-8  diff=golang
*.hcl           text working-tree-encoding=UTF-8
*.html          text working-tree-encoding=UTF-8  diff=html
*.ini           text working-tree-encoding=UTF-8
*.j2            text working-tree-encoding=UTF-8
*.java          text working-tree-encoding=UTF-8  diff=java
*.json          text working-tree-encoding=UTF-8
*.log           text working-tree-encoding=UTF-8
*.lst           text working-tree-encoding=UTF-8
*.lua           text working-tree-encoding=UTF-8
*.md            text working-tree-encoding=UTF-8  diff=markdown
*.pem           text working-tree-encoding=UTF-8
*.pl            text working-tree-encoding=UTF-8  diff=perl
*.php           text working-tree-encoding=UTF-8  diff=php
*.prefs         text working-tree-encoding=UTF-8
*.ps1           text working-tree-encoding=UTF-8
*.py            text working-tree-encoding=UTF-8  diff=python
*.pyi           text working-tree-encoding=UTF-8
*.rb            text working-tree-encoding=UTF-8  diff=ruby
*.rockspec      text working-tree-encoding=UTF-8
*.rs            text working-tree-encoding=UTF-8  diff=rust
*.rst           text working-tree-encoding=UTF-8
*.sh            text working-tree-encoding=UTF-8
*.sum           text working-tree-encoding=UTF-8
*.svg           text working-tree-encoding=UTF-8
*.tex           text working-tree-encoding=UTF-8  diff=tex
*.tf            text working-tree-encoding=UTF-8
*.tfvars        text working-tree-encoding=UTF-8
*.tmpl          text working-tree-encoding=UTF-8
*.toml          text working-tree-encoding=UTF-8
*.tpl           text working-tree-encoding=UTF-8
*.txt           text working-tree-encoding=UTF-8
*.xml           text working-tree-encoding=UTF-8
*.yaml          text working-tree-encoding=UTF-8
*.yml           text working-tree-encoding=UTF-8


# Linguistic configuration
#
# This section helps GIT to identify languages associated to files and then allow Github, Gitlab or Bitbucket to 
# correctly display languages statistics.
#
# For additional documentation see the following pages.
#  - https://docs.gitlab.com/ee/user/project/repository/#add-repository-languages
#  - https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
#  - https://github.com/github/linguist/blob/main/lib/linguist/languages.yml
docs/*          linguist-documentation

Dockerfile      linguist-language=Dockerfile
Makefile        linguist-language=Makefile
Vagrantfile     linguist-language=Ruby
*.adoc          linguist-language=AsciiDoc
*.c             linguist-language=C
*.css           linguist-language=CSS
*.cfg           linguist-language=INI
*.csh           linguist-language=Shell
*.csv           linguist-language=CSV
*.fish          linguist-language=fish
*.go            linguist-language=Go
*.hcl           linguist-language=HCL
*.html          linguist-language=HTML
*.ini           linguist-language=INI
*.j2            linguist-language=Jinja
*.java          linguist-language=Java
*.json          linguist-language=JSON
*.lua           linguist-language=Lua
*.md            linguist-language=Markdown
*.prefs         linguist-language=INI
*.ps1           linguist-language=PowerShell
*.py            linguist-language=Python
*.pyi           linguist-language=Python
*.rb            linguist-language=Ruby
*.rockspec      linguist-language=Lua
*.rst           linguist-language=reStructuredText
*.sh            linguist-language=Shell
*.sum           linguist-language=Go Checksums
*.svg           linguist-language=SVG
*.tex           linguist-language=TeX
*.tf            linguist-language=HCL
*.tfvars        linguist-language=HCL
*.toml          linguist-language=TOML
*.tpl           linguist-language=Smarty
*.txt           linguist-language=Text
*.xml           linguist-language=XML
*.yaml          linguist-language=YAML
*.yml           linguist-language=YAML
